<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <h1>Welcome to Squishy.live</h1>
    <p>
      Squishy is your friend, a stream pet that your chat help take care of.
    </p>
    <p>
      To use Squishy you first need to log in, then add an overlay in to your
      OBS
    </p>

    <p>
      <a
        href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=<%= client_id %>&redirect_uri=<%= redirect_uri %>"
        >Log in using Twitch</a
      >
    </p>
  </body>
</html>
