<!DOCTYPE html>
<html lang="en">
  <head>
					<link rel="stylesheet" href="/overlay.css" />
	</head>
  <body>
					<div id="pet"><div id="speech">a</div><img id="pet-img" /></div>
    <div id="stats"></div>

    <script>
      window.pet_id = "<%= pet_id %>";
		</script>
    <script src='/overlay.js'></script>
	</body>
</html>
